    html,
    body {
        margin: 0;
        font-size: 100%;
        background: #fff;
        font-family: 'Open Sans', sans-serif;
    }
    
    body a {
        text-decoration: none;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    input[type="button"],
    input[type="submit"] {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 0.9em;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    label {
        margin: 0;
    }
    /*-- header --*/
    
    .header {
        background: #000;
    }
    
    .header ul li {
        display: inline-block;
        width: 24.5%;
        text-align: center;
        color: #fff;
        font-size: 13px;
        padding: 7px 0;
        letter-spacing: 1px;
        border-right: 1px solid #464444;
    }
    
    .header ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .header ul li i {
        margin-right: 12px;
        top: 2px;
        color: #2fdab8;
    }
    
    .header-right {
        text-align: right;
    }
    
    .header-left {
        text-align: left;
    }
    
    .header-bot_inner_wthreeinfo_header_mid {
        margin: 0 auto;
        width: 90%;
    }
    /*-- //header --*/
    
    .social-nav {
        padding: 0;
        list-style: none;
        display: inline-block;
        margin: 1em 0 0;
        float: right;
    }
    
    .social-nav li {
        display: inline-block;
        margin: 0 6px;
    }
    
    .social-nav a {
        display: inline-block;
        float: none;
        width: 30px;
        height: 30px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        background: #000;
        position: relative;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    
    .model-3d-0 a {
        background: #5C5B5B;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .model-3d-0 .front,
    .model-3d-0 .back {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translateZ(18px);
        -moz-transform: translateZ(18px);
        -ms-transform: translateZ(18px);
        -o-transform: translateZ(18px);
        transform: translateZ(18px);
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -ms-backface-visibility: visible;
        -o-backface-visibility: visible;
        backface-visibility: visible;
        color: #212121;
        font-size: 12px;
    }
    
    .model-3d-0 .back {
        -webkit-transform: rotateX(90deg) translateZ(18px);
        -moz-transform: rotateX(90deg) translateZ(18px);
        -ms-transform: rotateX(90deg) translateZ(18px);
        -o-transform: rotateX(90deg) translateZ(18px);
        transform: rotateX(90deg) translateZ(18px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    a.twitter .front {
        background: #00acee;
    }
    
    a.facebook .front {
        background: #3b5998;
    }
    
    a.instagram .front {
        background: #f77737;
    }
    
    a.pinterest .front {
        background: #bd081c;
    }
    
    .twitter .back,
    .facebook .back,
    .instagram .back,
    .pinterest .back {
        background: #fff;
    }
    
    .model-3d-0 a:hover {
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
    
    .model-3d-0 a:hover .back {
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -ms-backface-visibility: visible;
        -o-backface-visibility: visible;
        backface-visibility: visible;
    }
    
    .w3_agile_social .front i {
        color: #fff;
        font-size: 12px;
    }
    
    .w3_agile_social .back i {
        color: #000;
        font-size: 12px;
    }
    
    .w3ls_team_grid img {
        background: #e4e3e3;
        padding: 7px;
    }
    /*--social icons--*/
    /* Brand Colours */
    
    .facebook {
        background: #3b5998;
    }
    
    .twitter {
        background: #00acee;
    }
    
    .google-plus {
        background: #dd4b39;
    }
    
    .rss {
        background: #f26522;
    }